body{
    background-color: #F44E3F;
    color: aliceblue;
    padding-bottom: 10px;
}

img{
    width: 300px;
    border-radius: 100px;
    background-color: #aaa;
    height: 200px;    
}


.promo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comandos{
    width: 10px;

}

.row{
    margin-bottom: 15px;
}

input[type='button']{
    width: 30px;
}