h2{
    color:blue; 
}

body{

    background-image: url(Images/img1.png);
    background-size: cover;
}

tr:nth-child(even){
    background-color:yellowgreen;   
}

tr:nth-child(odd){
    background-color:yellow ;
}

table{
    border-collapse: collapse;
}

#tabela{
    background-color: bisque;
     border: 1px solid red;
     width: max-content;
     margin-left: auto; 
     margin-right: auto;
        
}

table{
    <colgroup>
    <col class="vermelho">


}